<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Assistant</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/d91f0db9b6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    </div>
    <div class="box">
        <h1>Phishing Link Detector</h1>
        <div class="input">
            <form action="{{ url_for('check')}}" method="POST">
                <input type="text" id="url" name="url" placeholder="Enter URL">
                <button id="searcch_btn"  type="submit" ><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="output">
                {{output}}
            </div>
    </div>
</body>
</html>